:where(.inline, .block, .flex, .button) {
    position: relative;
    padding: 0;
    margin: 0;
    background-color: transparent;
    color: var(--text-color);
    border: none;
    cursor: pointer;    
    transition: color 0.4s ease;
}

.inline {
    display: inline;
    text-align: left;
}

.block {
    display: block;
    text-align: left;
}

.flex {
    display: flex;
    align-items: center;
    gap: 10px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 30px;
    border-radius: 10px;
    background-color: var(--primary-color);
    color: var(--background-color);
    font-size: .9em;
    font-weight: 700;
    transition: filter 0.4s ease, transform 0.2s ease;        

    &:hover {
        filter: brightness(1.2);
        transform: translateY(-1px);
    }
    
    &.accent {
        background-color: var(--accent-color);
    }

    &.border {
        background-color: transparent;
        border: 1px solid var(--gray-color);
        color: var(--gray-color);
    }

    &:active {
        transform: translateY(0);
        box-shadow: none;
    }

    &.working {
        color: transparent;
        cursor: not-allowed;
        pointer-events: none;
    }

    .loading {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}