.float {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.chatPage {
    display: flex;
    flex-direction: row;

    .leftPanel {
        flex: 1;
        overflow: hidden;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
}

.messages {
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-gutter: stable;
    padding: 30px;

    > div {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 10px;
    }

    .user {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        align-self: flex-end;
        gap: 5px;

        .markdown {
            background: var(--background-offset-color);
            border-radius: 10px 10px 0 10px;
            padding: 10px;
        }
    }

    .loadMore {
        align-self: center;
    }
}


.uploads {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    gap: 5px;

    i { font-size: 16px }

    > div {
        display: inline-flex;
        align-items: center;
        gap: 5px;
        font-size: .8em;
        background: rgba(var(--gray-color-rgb), .05);
        padding: 8px 16px 8px 12px;
        border-radius: 99px;
    }
}

.compose {
    bottom: 0;
    padding: 1px 30px 30px 30px;
    margin-right: 14px;
    scrollbar-gutter: stable;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &:focus-within {
        > div {
            outline: solid 2px var(--background-offset-color);
            outline-offset: 0px;
            background: var(--background-color);
        }
    }

    .uploads {
         padding: 10px;
         margin-bottom: -10px;
    }

    > div {
        background: rgba(var(--gray-color-rgb), .05);
        border: 1px solid rgba(var(--gray-color-rgb), .1);
        border-radius: 10px;
    }

    .input {
        display: flex;
        align-items: center;
        transition: background-color 0.2s ease-in-out;

        textarea {
            outline: none !important;
            background: transparent !important;
            padding-left: 0;
            padding-right: 0;
        }
        > button {
            padding: 15px;
            align-self: flex-end;
        }
    }
}

.markdown {
    line-height: 1.5;
    
    p:first-child {
        margin-top: 0;
    }
    p:last-child {
        margin-bottom: 0;
    }

    img {
        display: block;
        width: 100%;
    }
}

.actions {
    display: flex;
    margin-top: 10px;

    > button > i {
        padding: 5px;
        border-radius: 99px;
        font-size: 16px;
        color: rgba(var(--gray-color-rgb), 0.5);

        &:hover {
            color: rgba(var(--gray-color-rgb), 1);
        }
    }

    > button.good > i {
        color: var(--green-color) !important;
        background: rgba(var(--green-color-rgb), 0.1);
    }

    > button.bad > i {
        color: var(--red-color) !important;
        background: rgba(var(--red-color-rgb), 0.1);
    }
}

.feedback {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    font-size: 0.9em;
    color: var(--gray-color);
}