.citation {
    display: inline-block;
    font-size: 0.8em;
    color: var(--gray-color);
    background: var(--background-offset-color);
    padding: 4px 8px;
    border-radius: 999px;
    line-height: 1;
    cursor: pointer;
}