.list {
    display: flex;
    flex-direction: column;
    gap: 5px;

    > div {
        display: flex;
        flex-direction: column;
        gap: 10px;
        border: 1px solid var(--background-offset-color);
        border-radius: 10px;
        padding: 20px;
        cursor: pointer;

        > div {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;

            > i { 
                color: var(--primary-color);
                align-self: flex-start;
            }
        }

        &:hover {
            background-color: rgba(var(--gray-color-rgb), 0.05);
        }
    }
}