.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;

    .image {
        position: relative;
        width: 100%;
        height: 0;
        padding-top: 100%;
        cursor: pointer;
        border-radius: 10px;
        overflow: hidden;

        border: solid 1px var(--background-offset-color);

        &:hover {
            > img {
                transform: scale(1.05);
            }
        }

        > img  {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.3s ease-in-out;
        }
    }

    .caption {
        font-size: 0.8em;
        color: var(--gray-color);
        margin-top: 15px;
        line-height: 1;
    }
}