.loading, .error, .figure  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid 1px var(--background-offset-color);
    border-radius: 10px;
    min-height: 100px;
    overflow: hidden;
}
.error {
    i { 
        font-size: 38px;
        color: var(--background-offset-color);
    }
}