.mermaid {
    position: relative;
    border: 1px solid var(--background-offset-color);
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    padding-bottom: 35px;

    > svg {
        width: 100%;
    }

    > button { 
        position: absolute;
        bottom: 10px;
        right: 10px;
        cursor: pointer;
    }
}