.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.page {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    overflow: hidden;
    background-color: var(--background-color);
    box-shadow: 0 0 10px 0 var(--box-shadow-color);
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid var(--background-offset-color);

    h1 { 
        flex: 1;
        font-size: 1em;
        font-weight: 400;
        margin: 0;
        color: var(--gray-color);
    }

    .close {
        padding: 10px;
        color: var(--red-color);
    }
}


.content {
    padding: 30px;
    flex: 1;
    overflow-y: auto;

    h1 {
        font-size: 1.6em;
        font-weight: 400;
        margin: 0 0 20px 0;
        color: var(--primary-color);
    }

    h2 {
        font-size: 1.2em;
        font-weight: 500;
        margin: 2em 0 1em 0;
        color: var(--accent-color);
    }

    pre {
        background-color: var(--background-offset-color);
        border-radius: 10px;
        padding: 20px;
        overflow-x: auto;
        font-size: .9em;
        font-family: var(--font-family-mono);
        color: var(--text-color);
        line-height: 1.5;
        margin: 0;
        white-space: pre-wrap;
        word-wrap: break-word;
        margin: 2em 0;
    }

    dl { 
        margin: 2em 0;
        border: 1px solid var(--background-offset-color);
        border-bottom: none;
        border-radius: 10px;
        overflow: hidden;
        display: grid;
        grid-template-columns: auto 1fr;
    }

    dt, dd {
        margin: 0;
        padding: 20px;
        border-bottom: 1px solid var(--background-offset-color);
    }

    dt {
        font-weight: 500;
        text-transform: capitalize;
    }

    dd {
        margin: 0;
        text-align: right;
    }
}