
.errorPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: var(--background-offset-color);

    i {
        font-size: 4rem;
        color: var(--red-color);
        background-color: rgba(var(--red-color-rgb), 0.1);
        padding: 20px;
        border-radius: 999px;
    }

    h1 {
        font-size: 2rem;
        font-weight: 300;
        margin: 20px 0 0 0;
    }

    pre {
        display: block;
        margin: 3em 0;
        font-size: .8rem;
        font-weight: 300;
        padding: 15px;
        background-color: rgba(var(--background-color-rgb), 0.75);
        border-radius: 10px;
        overflow-x: auto;
        width: 600px;
    }
}