.loading {
    aspect-ratio: 2;
    --_g: no-repeat radial-gradient(circle closest-side,var(--primary-color) 90%,transparent 90%);
    background: 
      var(--_g) 0%   50%,
      var(--_g) 50%  50%,
      var(--_g) 100% 50%;
    background-size: calc(100%/3) 50%;
    animation: l3 1s infinite linear;

    &.accent {
        --_g: no-repeat radial-gradient(circle closest-side,var(--accent-color) 90%,transparent 90%);
    }

    &.gray {
        --_g: no-repeat radial-gradient(circle closest-side,var(--gray-color) 90%,transparent 90%);
    }

    &.reverse {
        --_g: no-repeat radial-gradient(circle closest-side,var(--background-color) 90%,transparent 90%);
    }

    &.small {
        width: 20px;
    }

    &.medium {
        width: 40px;
    }

    &.large {
        width: 60px;
    }
  }
  @keyframes l3 {
      20%{background-position:0%   0%, 50%  50%,100%  50%}
      40%{background-position:0% 100%, 50%   0%,100%  50%}
      60%{background-position:0%  50%, 50% 100%,100%   0%}
      80%{background-position:0%  50%, 50%  50%,100% 100%}
  }