.toastContainer {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    padding: 20px;
}

.toast {
    background-color: var(--text-color);
    color: var(--background-color);
    min-width: 100px;
    max-width: 300px;
    border-radius: 10px;
    padding: 20px 25px 20px 20px;
    box-shadow: 0 0 10px 0 var(--box-shadow-color);
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    gap: 10px;

    &.info > i {
        color: var(--primary-color);
    }

    &.success > i {
        color: var(--green-color);
    }

    &.error > i {
        color: var(--red-color);
    }
    
}