.app {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: var(--background-offset-color);

    .navigation {
        flex: 0 0 250px;
    }
    
    .main {
        flex: 1;
        background-color: var(--background-color);
        overflow: hidden;
    }

    .aside {
        position: fixed;
        top: 0;
        right: 0;
    }
}

