.navigation {
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 30px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;

  img { width: 40px; }

  span {
    font-size: 2em;
    font-weight: 900;
    color: var(--text-color);

    background: linear-gradient(to right, var(--primary-color), var(--accent-color));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.spacer {
  flex: 1;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 15px;

  a {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--gray-color);
    text-decoration: none;

    &.active {
      color: var(--text-color);

      &::after {
        content: '';
        position: absolute;
        display: block;
        top: 0; left: -30px;
        width: 3px;
        height: 100%;
        background-color: var(--accent-color);
        border-radius: 0 10px 10px 0;
      }

      > i {
        color: var(--accent-color);
      }
    }
  }
}

.history {
  display: flex;
  flex-direction: column;
  margin: 0 -10px;

  h2 {
    margin: 10px 10px 20px 10px;
    padding: 0;
    font-size: 0.8em;
    font-weight: 700;
    color: rgba(var(--gray-color-rgb), 0.5);
    text-transform: uppercase;
  }

  a {
    text-decoration: none;
    color: var(--gray-color);
    padding: 10px;
    border-radius: 10px;

    &:hover {
      color: var(--text-color);
    }

    &.active {
      color: var(--text-color);
      background-color: rgba(var(--gray-color-rgb), 0.1);
    }
  }

  .noChats {
    margin: 10px;
    color: var(--gray-color);
  }
}