.textarea {
    border: 0;
    border-radius: 10px;
    padding: 15px;
    width: 100%;
    background-color: var(--background-offset-color);
    transition: background-color 0.2s ease-in-out;

    &:focus {
        background-color: var(--background-color);
    }
}