* {
    box-sizing: border-box;
  }
  
  ::-webkit-scrollbar {
    width: 14px;
  }
  
  ::-webkit-scrollbar-button {
    display: none;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: var(--system-scrollbar);
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 9999px;
  }
  
  ::-webkit-scrollbar-track {
    display: none;
  }
  
  ::placeholder {
    color: var(--gray-color);
    opacity: 1;
  }
  
  :root {
    font-size: 14px;
    --text-color: #111;
    --background-color: #fff;
  }
  
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    scrollbar-gutter: stable;
  }
  
  html,
  body,
  #root {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
  }
  
  html,
  body,
  td,
  input,
  select,
  textarea,
  button {
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    color: var(--text-color);
  }